*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
}

.App {
  background-color: #aae1e6;
  background-image: url('./assets/TAMOGATCHI\ BACKGROUND.png');
  background-size:contain;
  background-size:100% auto;
  background-repeat:no-repeat;
  height: 100vh;
 
}

/******Nav Bars******/
.navigation{
  text-align:center;
  margin: 0 auto;
  background-color:transparent;
  width: 55%;
  position:relative;
}


.link-circle {
  /* border-radius:50%; */
  background-color: black;
  border-color:transparent;
  width: 90%;
  height: 300%;
  position:relative;
}

#top-nav{
  width: 30vw;
  margin: 0 auto;
  position: sticky;
  display: grid;
  grid-template-columns: repeat( 4,1fr);
  padding-top: 20%;
}

#bottom-nav{
  /* line-height: 25vh; */
  width: 30vw;
  margin: 0 auto;
  position: sticky;
  display: grid;
  position:relative;
  grid-template-columns: repeat( 4,1fr);
}
.center{
  max-height: 20%;
  position:relative;
}
#main{
  width: 30%;
  font-family:monospace;
  color: black;
  overflow:scroll;
  background-color: transparent;
  margin: 0 auto;
  margin-top:50px;
  margin-bottom: 30px;
  text-align:center;
  

}