*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
}

.App {
  background-color: #aae1e6;
  background-image: url('./assets/TAMOGATCHI\ BACKGROUND.png');
  background-size:contain;
  background-size:100% auto;
  background-repeat:no-repeat;
  height: 100vh;
  position:relative;
 
}

/******Nav Bars******/
.navigation{
  text-align:center;
  margin: 0 auto;
  background-color:transparent;
  left: 35%;
  width: 500px;
}

.navigation a{
  position: sticky;
  top: .5em;


}

.link-circle {
  border-radius:50%;
  background-color: black;
  border-color:transparent;
  width: 60px;
  height: 60px;
  position:sticky;
}

#top-nav{
  width: 30vw;
  margin: 0 auto;
  position: sticky;
  display: grid;
  grid-template-columns: repeat( 4,1fr);
  padding-top: 18vh;
}

#bottom-nav{
  /* line-height: 25vh; */
  width: 30vw;
  padding-top: 2vh;
  margin: 0 auto;
  position: sticky;
  display: grid;
  grid-template-columns: repeat( 4,1fr);
}

#main{
  width: 30%;
  font-family:monospace;
  height: 250px;
  color: black;
  overflow:scroll;
  background-color: transparent;
  margin: 0 auto;
  margin-top: 3%;
  text-align:center;
  position: sticky;
  top: 4%;
}