*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

}

.App {
  background-color: #aae1e6;
  background-image: url('./assets/TAMOGATCHI\ BACKGROUND.png');
  /* background-size: auto 100%; */
  background-size: 100% auto;
  background-repeat:no-repeat;
  height: 100vh;
}

/******Nav Bars******/
.navigation{

  text-align:center;
  background-color:transparent;
  width: 100%;
  border: 2px solid red;

}




#top-nav{
  height: fit-content;
  width: 50%;
  display:flex;
  margin-top: 20%;
  width: 30%;

  /* position:fixed; */



  

}
.link-circle {
  border-radius:50%;
  width: 40px;
  height: 40px;
  background-color: black;
  margin: 30px;
  border-color:transparent;
  position:relative;
    font-size: 20%;
}
#bottom-nav{
  width: 30vw;
  margin: 0 auto;
  align-items: flex-end;
}



.center{
  position:relative;
  display:flex;
}
#main{

  width: 30vw;
  max-height: 20vh;
  font-family:monospace;
  color: black;
  overflow: scroll;
  background-color: transparent;
  margin: 0 auto;
  align-content:space-around;
  justify-content:center;
  
  margin-bottom: 30px;
  text-align:center;
  

}

